* {
	margin: 0;
	padding: 0;
}

.container {
	width: 1600px;
	margin: 0 auto;
}

a {
	text-decoration: none;
}
.clr{
	clear: both;
}
ul{
	list-style-type: none;
}
/*-----------------------------------------
   ШАПКА 
-----------------------------------------*/
header {
	height: 774px;
	background: url("../img/head-backg2.png"), url("../img/head-bckg.jpg");

}

.menu {
	display: flex;
	justify-content: center;
	text-align: center;
	list-style-type: none;
}

.menu li {
	background-image: linear-gradient(to top, rgba(153, 68, 39, 0.16) 0%, rgba(255, 255, 255, 0.16) 77%, rgba(255, 255, 255, 0.16) 100%);
	border-right: 1px solid grey;
}

.menu li a {
	color: #ffffff;
	font-family: "PT Sans";
	font-size: 18px;
	line-height: 27px;
	text-transform: uppercase;
	display: block;
	width: 187px;
	height: 59px;
	box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.21);
	background-color: #e33131;
	background-image: linear-gradient(to top, rgba(153, 68, 39, 0.16) 0%, rgba(255, 255, 255, 0.16) 77%, rgba(255, 255, 255, 0.16) 100%);
	border-right: 1px solid grey;
	padding-top: 15px;
	box-sizing: border-box;
}

.side-left {
	border-bottom-left-radius: 5px;
}

.side-right {
	border-bottom-right-radius: 5px;
}

.air {
	margin-left: 713px;
	margin-top: 68px;
}

.head {
	margin-left: 656px;
	margin-top: 126px;
}

.head img {
	padding-top: 28px;
	margin-left: 78px;
}

.head h2 {
	color: #f3aa29;
	font-family: "Open Sans";
	font-size: 72px;
	font-weight: 300;
	line-height: 30px;
	text-transform: uppercase;
}

.head a {
	display: block;
	width: 202px;
	height: 45px;
	box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.21);
	background-color: #cd2c2c;
	background-image: linear-gradient(to top, rgba(153, 68, 39, 0.16) 0%, rgba(255, 255, 255, 0.16) 77%, rgba(255, 255, 255, 0.16) 100%);
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 18px;
	font-weight: 400;
	line-height: 45px;
	text-transform: uppercase;
	margin-top: 30px;
	margin-left: 43px;
	padding-left: 47px;
	padding-bottom: 16px;
	box-sizing: border-box;
	border-radius: 20px;
}

/*-----------------------------------------
  MAIN
-----------------------------------------*/
.main {
	display: flex;
	justify-content: center;
}

.city {
	display: flex;
	position: relative;
	top: -45px;
	color: darkmagenta;
	font-family: "Open Sans";
	font-weight: 400;
	line-height: 27px;
}

.city h2 {
	font-size: 30px;
	text-transform: uppercase;
}

.city h5 {
	font-size: 14px;
}

.city p {
	font-size: 24px;
}

.city1 {
	background-image: url("../img/layer--copy.png"), url("../img/sity1.png");
	width: 300px;
	height: 364px;
	text-align: center;
	box-sizing: border-box;
	padding-top: 145px;

}

.city2 {
	background-image: url("../img/layer--copy.png"),url("../img/sity2.png");
	width: 300px;
	height: 364px;
	margin: 0 20px;
	text-align: center;
	box-sizing: border-box;
	padding-top: 145px;
}

.city3 {
	background-image: url("../img/sity3.png");
	width: 300px;
	height: 364px;
	text-align: center;
	box-sizing: border-box;
	padding-top: 145px;
}
/*-----------------------------------------
   INPUTS
-----------------------------------------*/
#video-bg {
	position: absolute;
	top: 771px;
	left: 0;
	right:0;
	overflow: hidden;
	background-size: cover;
	z-index: -9999;
}

#video-bg > video {
	top: 0;
	left: 0;
	min-width: 100%;
	min-height:100%;
	width: auto;
	height: auto;
}
.inputs{
	width: 434px;
	height: 604px;
	margin-left:330px;
}
.inputs h1{
	color: #002747;
	font-family: "Open Sans";
	font-size: 30px;
	font-weight: 400;
	line-height: 27px;
	text-transform: uppercase;
	margin-bottom: 47px;
}
#name, #mail, #country, #hotel, #data, #data2{
	background-image: url("../img/input.png");
	width: 193px;
	height: 30px;
	border: 1px rgba(95, 94, 94, 0.71);
	color: #737272;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 27px;
	padding-left: 10px;
	box-sizing: border-box;
}
#name{
	margin-right: 33px;
	margin-bottom: 13px;
}
#country{
	margin-right: 33px;
	margin-bottom: 24px;
}
#data, #data2{
	width: 318px;
	height: 30px;
	float: right;
	margin-right:10px;
}
.inputs p{
	color: #737272;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 27px;
}
#data{
	margin-bottom: 32px;
}
input[type="radio"]{
	margin-left: 20px;
}
#area{
	width: 422px;
	height: 197px;
	color: #737272;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 27px;
	box-sizing: border-box;
	padding-left: 20px;
	padding-top: 5px;
	resize: none;
}
input[type="submit"]{
	width: 88px;
	height: 29px;
	background-image: url("../img/input.png");
	border-radius: 20px;
	box-shadow: none;
	color: #737272;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 27px;
}
input[type="submit"]:active{
	outline: none;
}
footer{
	margin-top: -60px;
	max-width: 100%;
	height: 62px;
	background-image: url("../img/foot.png");
	box-sizing: border-box;
}
footer p{
	color: #a3afba;
	font-family: "Open Sans";
	font-size: 10px;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 18px;
	text-align: center;
	padding-top: 25px;
	box-sizing: border-box;
}